</div>

<footer>
  <div class="footer-backButton">
    <a href="/">ホームに戻る</a>
  </div>
  <div class="footer-copyRight">
    &copy; chou-rocket.tk
  </div>
</footer>
<script type="text/javascript" src='/javascripts/style.js'></script>
</body>
</html>
