<li>
  <i class="far fa-folder"></i>
  <a href="/">トップ</a>
</li>
<li>
  <i class="fas fa-home"></i>
  <a href="/main">メイン</a>
</li>
<li>
  <i class="fab fa-blogger-b"></i>
  <a href="/posts">ブログ</a>
</li>
<li>
  <i class="far fa-address-card"></i>
  <a href="/members">メンバー紹介</a></li>
<li>
  <i class="far fa-edit"></i>
  <a href="/bind">文字列連結</a>
</li>
<li>
  <i class="fas fa-video"></i>
  <a href="/videos">動画</a>
</li>
<li>
  <i class="far fa-envelope"></i>
  <a href="/mail">メール</a>
</li>
<li>
  <i class="fab fa-youtube youtube-icon"></i>
  <a href="/youtube">YouTube</a>
</li>
<li>
  <i class="fab fa-line line-icon"></i>
  <a href="/line">LINE</a> ←近日実装予定
</li>
<li>
  <i class="fab fa-twitter-square twitter-icon"></i>
  <a href="/twitter">Twitter</a> ←近日実装予定
</li>
<li>
  <i class="far fa-calendar"></i>
  <a href="/calender">カレンダー</a> ←近日実装予定
</li>
<li>
  <i class="fas fa-cloud-download-alt"></i>
  <a href="/showroom">SHOWROOM</a>
</li>
<li>
  <i class="fas fa-at"></i>
  <a href="/api">API</a>
</li>
