<%- include('../header', {title: 'SHOWROOM'}) %>

  <p><a href="/showroom/list">ダウンロード動画一覧</p>
  <p><a href="/showroom/setURL">URLを指定してダウンロード</p>
  <p><a href="/showroom/setNort">配信開始通知設定</p>
  <p><a href="/showroom">トップに戻る</p>
<% include ../footer %>
