<%- include('../header', {title: 'Youtube'}) %>

  <p><a href="/youtube/list">ダウンロード動画一覧</p>
  <p><a href="/youtube/setURL">URLを指定してダウンロード</p>
  <p><a href="/youtube">トップに戻る</p>
<% include ../footer %>
