<%- include('../header', {title: 'Youtube'}) %>
<h1><%= filename %></h1>
  <video src="/downloads/<%= filename %>" controls autoplay></video>
  <p><a href="/youtube/list">動画一覧に戻る</p>
  <p><a href="/youtube">トップに戻る</p>
<% include ../footer %>
